body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;

  background: linear-gradient(135deg, #0f172a, #1e293b);

  min-height: 100vh;
  color: #e2e8f0;
}

/* glass effect */
.glass {
  background: rgba(255, 255, 255, 0.08); /* slightly dimmer */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

/* inputs */
input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

/* buttons */
button {
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: rgba(255,255,255,0.2);
  color: white;
  transition: 0.2s;
}

button:hover {
  background: rgba(255,255,255,0.35);
}